body {
  background-color: gray;
}
.accommodation {
  width: 500px;
  float: left;
}
h1 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  color: red;
}
.contact {
  font-style: italic;
}
.test-box {
  border: 6px solid red;
  padding: 10px;
  margin: 50px;
  background-color: yellow;
}
.activities {
  font-style: italic;
}
.contacts {
  float: right;
}
.test-box2 {
  border: 6px;
  padding: 10px;
  margin: 50px;
}