body {
  background-color: gray;
}
.accommodation {
  width: 500px;
  float: left;
}
h1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
h2 {
  color: black;
}
.contact {
  font-style: italic;
}
.test-box {
  border: 6px solid red;
  padding: 10px;
  margin: 50px;
  background-color: steelblue;
}
.activities {
  font-style: italic;
}
.contacts {
  float: right;
}
.test-box2 {
  border: 6px;
  padding: 10px;
  margin: 50px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: yellowgreen;
  }
  .contacts {
    width: 220px;
    float: left;
    padding: 15px;
  }
}